<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin
>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s769183.maillist.view.MailListView"
            id="de.bht.fpa.mail.s769183.maillist.mlv"
            name="Maillist"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bht.fpa.mail.s769183.main.perspective">
         <view
               id="de.bht.fpa.mail.s769183.maillist.mlv"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s769183.main.perspective.top">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
